// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.

// @import "ui-variables";
@import "octicon-mixins.less";


// Add a comment icon to al the files with comments and directories containing
// files with comments (that have not beene resolved yet)
// Also, only show the comment icon on a directory when the directory is collapsed

[is='tree-view-file'] [data-comment-count],
[is='tree-view-directory']:not(.expanded) > .list-item > [data-comment-count] {
  // Place the icon after the text so we still see the file type
  // .octicon(comment);
  &::after {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: 12px;
    height: 12px;
    content: " \f02b  (" attr(data-comment-count) ")";
  }

  // TODO: Use the theme colors
  &::after {
    color: @text-color-info;
    padding-left: 0.5em;
  }
}


// When there is exactly 1 comment, just show the icon (no number)
[is='tree-view-file'] [data-comment-count="1"],
[is='tree-view-directory']:not(.expanded) > .list-item > [data-comment-count="1"] {
  &::after {
    content: " \f02b";
  }
}
